  body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #7b2ff7, #0ce8f1);
      padding: 0px;
      
    }

    /* header */
    #header {
      background-color: #4ee0b4;
      height: 80px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      padding: 0 40px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    }

    /* NAVIGATION */
    #nav {
      display: flex;
      gap: 20px;
    }

    /* BUTTON NAV */
    .btn {
      width: 150px;
      height: 50px;
      background: linear-gradient(135deg, #964cfd, #004CFF);
      color: white;
      border-radius: 8px;
      cursor: pointer;
      font-size: 20px;
      border: none;
      transition: 0.25s;
    }

    .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }





    #search-bar {
      border-radius: 10px;
      width: 350px;
      height: 45px;
      font-size: 20px;
      padding-left: 15px;
      border: none;
      outline: none;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25);
    }


    .search {
      width: 45px;
      height: 40px;
      border-radius: 10px;
      border: none;
      font-size: 23px;
      background: white;
      cursor: pointer;
      transition: 0.25s;
      position: relative;
      right: 140px;
    }

    .search:hover {
      transform: scale(1.1);
      background: #f2f2f2;
    }

    /* content */

    .creator-container {
      width: 900px;
      background: #ffffff;
      border-radius: 20px;
      padding: 30px;
      margin-left: 14%;
      margin-top: 50px;
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    }

    h2 {
      text-align: center;
      color: #6a1bff;
      margin-bottom: 25px;
      font-size: 35px;
    }

    .section {
      margin-bottom: 35px;
      padding-bottom: 20px;
      border-bottom: 2px solid #eee;
    }

    label {
      font-weight: bold;
    }

    input,
    select,
    textarea {
      width: 95%;
      padding: 12px;
      margin-top: 8px;
      border-radius: 10px;
      border: 2px solid #ddd;
      font-size: 15px;
      transition: 0.25s;
    }

    select {
      width: 98%;
    }

    input:focus,
    textarea:focus,
    select:focus {
      border-color: #7b2ff7;
      box-shadow: 0 0 6px rgba(123, 47, 247, 0.4);
    }

    /* Ảnh đại diện */
    .thumbnail-preview {
      width: 100%;
      height: 250px;
      background: #f0f0f0;
      border-radius: 15px;
      background-size: cover;
      background-position: center;
      margin-top: 12px;
    }

    /* Card câu hỏi */
    .question-card {
      background: #f7f2ff;
      padding: 20px;
      border-radius: 15px;
      border-left: 6px solid #7b2ff7;
      margin-bottom: 20px;
    }

    .row {
      display: flex;
      gap: 20px;
    }

    .col {
      flex: 1;
    }

    .remove-btn {
      margin-top: 10px;
      background: #ff4d6d;
      border: none;
      padding: 8px 16px;
      border-radius: 10px;
      color: white;
      cursor: pointer;
    }

    .add-btn,
    .save-btn,
    .cancle-btn {
      width: 100%;
      padding: 14px;
      font-size: 17px;
      font-weight: bold;
      border-radius: 12px;
      border: none;
      cursor: pointer;
      color: white;
      margin-top: 20px;
    }

    .add-btn {
      background: #6a1bff;
    }

    .save-btn {
      background: linear-gradient(135deg, #7b2ff7, #0ce8f1);
    }

    .cancle-btn {
      background: #0e8f94
    }