body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #7b2ff7, #0ce8f1);
    background-repeat: no-repeat;
    height: 800px;
}

.question-card {
    width: 950px;
    height: 550px;
    background: #F8FAFC;
    border-radius: 20px;
    position: relative;
    margin-top: 70px;
}

.question-title {
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
    color: #0F172A
}

.ans-container {
    display: grid;
    grid-template-columns: 450px 450px;
    margin-left: 40px;
    margin-top: 10px;
}

.answer {
    width: 400px;
    height: 100px;
    background: #6366F1;
    color: white;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 10px;

}

#timer-text {
    background: #d0dafc;
    color: #4338CA;
    font-weight: bold;
    padding-top: 12px;
    border-radius: 50%;
    width: 80px;
    height: 60px;
    font-size: 20px;
    margin-left: 35%;
    text-align: center;
    position: relative;
    left: 88px;
    top: 20px;
}

.start {
    padding: 16px 36px;
    font-size: 40px;
    margin-top: 100px;
    width: 400px;
    height: 100px;
    font-weight: 700;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    color: white;
    background: linear-gradient(135deg, #f6d365, #fda085);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.18);
    transition: 0.25s ease;
    letter-spacing: 1px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* TLN */
.short-input {
    width: 70%;
    margin-left: 15%;
    position: relative;
    top: 50px;
    height: 45px;
    border-radius: 10px;
    font-size: 20px;
}

.submit-ans {
    width: 70%;
    height: 45px;
    position: relative;
    background-color: #7b2ff7;
    border-radius: 10px;
    top: 65px;
    left: 97px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}


/* Container hiển thị điểm và nút */
.show-container {
    background: white;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 800px;
    width: 900px;
    margin-top: 20%;
    height: 500px;
}

/* Hiển thị điểm */
.score-display {
    font-size: 50px;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 20px;
}

/* Nút chơi lại */
.play-again {
    display: block;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    color: white;
    font-weight: 600;
    padding: 15px 40px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 20px;
}

.play-again:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Nút lưu điểm */
.save-score {
    display: block;
    background: linear-gradient(135deg, #42e695, #3bb2b8);
    color: white;
    font-weight: 600;
    padding: 12px 35px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
    width: 700px;
    font-size: 20px;
    margin-bottom: 15px;
}

.cancle {
    display: inline-block;
    background: linear-gradient(135deg, #4e0fa1, #660d6e);
    color: white;
    font-weight: 600;
    padding: 12px 35px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    text-decoration: none;
    width: 700px;
    font-size: 20px;
}

.save-score:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.name-input {
    padding: 16px 36px;
    font-size: 30px;
    display: block;
    width: 400px;
    height: 100px;
    font-weight: 700;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    margin-top: 200px;
}

.name-display {
    font-size: 40px;
    font-weight: 700;
    color: #4a4a4a;
    margin-bottom: 20px;
}