body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
    background: linear-gradient(135deg, #5236FF, #00B3FF);
}


/* HEADER CHUNG */
#header {
    background-color: #4ee0b4;
    height: 90px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.logo-container {
    width: 100%;
    height: 70px;
    background-color: white;
}
#date {
    font-size: 25px;
    color: #979494;
    position: relative;
    left: 80%;
    font-weight: bold;
    bottom: 52px;
}
.logo-container img{
    height: 100%;
    padding: 0;
    width: 250px;
    padding: 10px;
    margin-left: 20px;
}
/* NAVIGATION */
#nav {
    display: flex;
    gap: 20px;
    
}

/* BUTTON NAV */
.btn {
    width: 150px;
    height: 50px;
    background: linear-gradient(135deg, #964cfd, #004CFF);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.25s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}





#search-bar {
    border-radius: 10px;
    width: 450px;
    height: 47px;
    font-size: 20px;
    padding-left: 45px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
    margin-left: 80px;
}


.search {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 23px;
    background: white;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    right: 60px;
}

.search:hover {
    transform: scale(1.1);
    background: #f2f2f2;
}


/*trang content chính*/
.intro-heading {
    font-weight: bold;
    font-size: 40px;
    margin-left: 20px;
}

.short-intro {
    background-color: #a3d7fd;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 14px 14px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.06);
    animation: softZoom 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

@keyframes softZoom {
    0% {
        opacity: 0;
        transform: scale(0.85);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#function {
    background-color: #c5fdca;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 14px 14px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

#benefits {
    background-color: #fdd390;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 14px 14px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.06);
}
#aim{
     background-color: #E0F2FE;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 14px 14px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.06);
}
#learnnplay {
    background-color: #efcff7;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 14px 14px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

#begin {
    background-color: #e0fd90;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 14px 14px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.06);
    text-align: center;
}

.start {
    width: 260px;
    height: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 4px 4px 2px 2px rgb(92, 92, 92);
    font-size: 25px;
    margin-top: 10px;
}

.info-text {
    margin-left: 20px;
    font-size: 20px;
    width: 97%;
}

#weekly {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 380px;
    background: #a3d7fd;
}

.avatar {
    width: 300px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.containing {
    width: 300px;
    background-color: beige;
    margin-top: 10px;
    height: 350px;
    border-radius: 10px;
    cursor: pointer;

}

.homeq-title {
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Discovery */
.science-container {
    width: 95%;
    position: relative;
    left: 35px;
    margin-top: 40px;
    background: linear-gradient(135deg, #A8E6CF, #DCEDC1);
    height: 450px;
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px 4px rgb(197, 194, 194);
}

.science-quiz-container {
    display: flex;
    gap: 17px;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100%;
    flex-shrink: 0;
    animation: softZoom 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.descript {
    margin-left: 10px;
}

.containing-dis {
    width: 250px;
    height: 350px;
    background-color: beige;
    border-radius: 10px;
    margin-top: 70px;
    flex-shrink: 0;
    cursor: pointer;
    animation: softZoom 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.avatar-dis {
    width: 250px;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.homeq-title-dis {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    height: 45px;
}

.descript-dis {
    margin-top: 10px;
}

.descript-dis,
.author {
    margin-left: 20px;

}


.scroll-left {
    font-size: 40px;
    position: relative;
    bottom: 300px;
    right: 70px;
}

.scroll-right {
    font-size: 40px;
    position: relative;
    left: 1020px;
    bottom: 300px;
}

.science-quiz-container::-webkit-scrollbar {
    display: none;
}

.play-btn {
    width: 100%;
    color: white;
    background: linear-gradient(135deg, #18A558, #00712D);
    position: relative;
    top: 17px;
    height: 50px;
    font-size: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.big-title {
    font-size: 45px;
    position: relative;
    bottom: 430px;
    font-weight: bold;
}

/*display 2*/
.history-container {
    margin-top: 40px;
    background: linear-gradient(135deg, #D7BDE2, #BB8FCE);
    width: 95%;
    position: relative;
    left: 35px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px rgb(197, 194, 194);
}

.history-quiz-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    top: 50px;
    animation: softZoom 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.containing-dis2 {
    width: 380px;
    height: 180px;
    background-color: aquamarine;
    border-radius: 10px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 200px 200px;
    animation: softZoom 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.avatar-dis2 {
    width: 180px;
    height: 180px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.homeq-title-dis2 {
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
    width: 90%;
}

.play-btn2 {
    width: 100%;
    color: white;
    background-color: forestgreen;
    position: relative;
    bottom: 74px;
    left: 180px;
    height: 50px;
    font-size: 30px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(135deg, #18A558, #00712D);
}

.big-title2 {
    position: relative;
    bottom: 660px;
    font-size: 40px;
    left: 20px;
    font-weight: bold;
}

.descript-dis2 {
    position: relative;
    bottom: 120px;
    left: 200px;
}

.author2 {
    position: relative;
    bottom: 100px;
}
/* display 3 */
.other-container {
    margin-top: 40px;
    background: linear-gradient(135deg, #FFD3B6, #FFAAA5);
    width: 95%;
    height: fit-content;
    position: relative;
    left: 35px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px rgb(197, 194, 194);
    margin-top: 50px;
}
.other-quiz-container {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    width: 95%;
    gap: 15px;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
}
.containing-dis3 {
    width: 380px;
    height: 380px;
    background-color: rgb(214, 221, 219);
    border-radius: 10px;
    margin-top: 40px;
    border-radius: 10px;
    
    animation: softZoom 1.5s cubic-bezier(0.22, 1, 0.36, 1);
}
.homeq-title-dis3 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    height: 45px;
}
.descript-dis3,.author3 {
    margin-left: 20px;

}
.avatar-dis3 {
    width: 380px;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.play-btn3 {
    width: 100%;
    color: white;
    background: linear-gradient(135deg, #18A558, #00712D);
    position: relative;
    top: 17px;
    height: 50px;
    font-size: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.big-title3 {
    font-size: 45px;
    position: relative;
    bottom: 1320px;
    left: 15px;
    font-weight: bold;
}
/* Trang chi tiết các bộ caau hỏi */
.detail-quiz {
    width: 720px;
    background: linear-gradient(145deg, #e0f0ff, #d0e8ff);
    margin: 60px auto;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 750px;
}

.detail-quiz:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}

.detail-quiz-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.detail-quiz-content {
    padding: 25px 30px;
    background: #f5f7f8;
}

.detail-quiz-title {
    font-size: 32px;
    font-weight: 700;
    color: #2a2a2a;
    margin-bottom: 12px;
    margin-left: 20px;
}

.detail-quiz-description {
    font-size: 18px;
    color: #555;
    line-height: 1.5;
    margin-left: 20px;
}
.detail-quiz p {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.detail-play {
    width: 90%;
    color: white;
    background: linear-gradient(135deg, #18A558, #00712D);
    position: relative;
    top: 97px;
    left: 30px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}

.leaderboard {
    width: 90%;
    position: relative;
    top: 110px;
    left: 30px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    background: #ff4d6d;
    
}
/* footer */
.footer {
    background: #1e1e2f;
    color: #eee;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    gap: 30px;
}

.footer-brand h2 {
    font-size: 29px;
    font-weight: bold;
    color: white;
}

.footer-brand h2 span {
  color: #fa8416;
  font-size: 29px;
}

.footer-brand p {
    margin-top: 10px;
    font-size: 16px;
    color: #ccc;
}

.footer-links h4 {
    margin-bottom: 12px;
    font-size: 25px;
    color: #fff;
}

.footer-links a {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
}
.footer-links2 a {
    
    margin-bottom: 8px;
    font-size: 38px;
    color: #ccc;
    text-decoration: none;
}
.footer-links2 h4 {
    margin-bottom: 12px;
    font-size: 25px;
    color: #fff;
}

.footer-links a:hover {
    color: #4facfe;
}
.footer-links2 a:hover {
    color: #4facfe;
}

.footer-bottom {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}


/* xử lý sự kiện search */
.search-container {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  margin-left: 20px;
  margin-bottom: 50px;
}
  .quiz-box {
    margin-top: 30px;
    width: 400px;
    height: 370px;
  
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  .quiz-avatar {
    width: 400px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
  }
  .play-btn-search {
    width: 100%;
    color: white;
    background: linear-gradient(135deg, #18A558, #00712D);
    position: relative;
    top: 18px;
    border: none;
    height: 51px;
    font-size: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    }
    .quiz-title {
      font-size: 30px;
      font-weight: bold;
      margin-left: 15px;
      padding: 0;
    }
    .quiz-box p {
      font-size: 20px;
      margin-left: 15px;
    }



