body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #7b2ff7, #0ce8f1);
  padding: 40px;
  padding: 0;
}
/* header */
#header {
    background-color: #4ee0b4;
    height: 80px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}
.logo-container {
    width: 100%;
    height: 70px;
    background-color: white;
}
#date {
    font-size: 25px;
    color: #979494;
    position: relative;
    left: 80%;
    font-weight: bold;
    bottom: 52px;
}
.logo-container img{
    height: 65px;
    padding: 0;
    width: 250px;
    padding-top: 5px;
    margin-left: 20px;
}
/* NAVIGATION */
#nav {
    display: flex;
    gap: 20px;
}

/* BUTTON NAV */
.btn {
    width: 150px;
    height: 50px;
    background: linear-gradient(135deg, #964cfd, #004CFF);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.25s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}





#search-bar {
    border-radius: 10px;
    width: 350px;
    height: 45px;
    font-size: 20px;
    padding-left: 15px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}


.search {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: none;
    font-size: 23px;
    background: white;
    cursor: pointer;
    transition: 0.25s;
    position: relative;
    right: 140px;
}

.search:hover {
    transform: scale(1.1);
    background: #f2f2f2;
}
/* content */

.profile-container {
  display: flex;
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

/* LEFT */
.profile-left {
  width: 300px;
  background: white;
  border-radius: 20px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ddd;
  margin: auto;
  margin-bottom: 15px;
  cursor: pointer;
  background-size: cover;
}
#chooseImg{
  position: relative;
  bottom: 90px;
}

.username {
  margin: 5px 0;
}

.role {
  color: #6a1bff;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-left label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
}

.profile-left input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.save-btn {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #7b2ff7, #0ce8f1);
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

/* RIGHT */
.profile-right {
  flex: 1;
}

/* STATS */
.stats {
  display: flex;
  gap: 20px;
}

.stat-box {
  flex: 1;
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.stat-box h3 {
  font-size: 32px;
  margin: 0;
  color: #6a1bff;
}

/* SECTION */
.section {
  margin-top: 30px;
  background: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.section h3 {
  margin-top: 0;
  border-bottom: 1px solid #eee;
}

/* QUIZ ITEM */
.quiz-contain{
  display: flex;
  flex-direction: column;
}
.quiz-item {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.quiz-item:last-child {
  border-bottom: none;
}

.quiz-item-teacher {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}

.edit-btn {
  background: #6a1bff;
  color: white;
  border: none;
  padding: 6px 6px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  bottom: 10px;
}
/* footer */
.footer {
    background: #1e1e2f;
    color: #eee;
    padding: 40px 20px 20px;
    font-family: Arial, sans-serif;
    margin-top: 40px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    gap: 30px;
}

.footer-brand h2 {
    font-size: 29px;
    font-weight: bold;
    color: white;
}

.footer-brand h2 span {
  color: #fa8416;
  font-size: 29px;
}

.footer-brand p {
    margin-top: 10px;
    font-size: 16px;
    color: #ccc;
}

.footer-links h4 {
    margin-bottom: 12px;
    font-size: 25px;
    color: #fff;
}

.footer-links a {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #ccc;
    text-decoration: none;
}
.footer-links2 a {
    
    margin-bottom: 8px;
    font-size: 38px;
    color: #ccc;
    text-decoration: none;
}
.footer-links2 h4 {
    margin-bottom: 12px;
    font-size: 25px;
    color: #fff;
}

.footer-links a:hover {
    color: #4facfe;
}
.footer-links2 a:hover {
    color: #4facfe;
}

.footer-bottom {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}



/* xử lý sự kiện search */
.search-container {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  margin-left: 20px;
  margin-bottom: 50px;
}
  .quiz-box {
    margin-top: 30px;
    width: 400px;
    height: 440px;
  
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  .quiz-avatar {
    width: 400px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
  }
  .play-btn-search {
    width: 100%;
    color: white;
    background: linear-gradient(135deg, #18A558, #00712D);
    position: relative;
    top: 18px;
    border: none;
    height: 51px;
    font-size: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    }
    .quiz-title {
      font-size: 30px;
      font-weight: bold;
      margin-left: 15px;
      padding: 0;
    }
    .quiz-box p {
      font-size: 20px;
      margin-left: 15px;
    }

/* logout */
#logout{
    position: relative;
    top: 20px;
    width: 750px;
    font-size: 25px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}